<div class="reveal mobile-ios-modal" id="delSubDpmentNameShowup" data-reveal>
  <form ref='uploadForm' encType="multipart/form-data" class="" action="/department/deletesubdpmentname/" method="post">
    <div class="">
      <h3>ยืนยันการลบ</h3>
      <h4>ท่านต้องที่จะลบ</h4>
      <div class="grid-y">

        <div class="grid-x" style="padding-top:40px">
          <div class="cell small-4">
            <p>หน่วยงานย่อยชื่อ</p>
          </div>
          <div class="cell small-8">
            <input type="hidden" id="id_delDubDpmentID" name="id_displayOldSubDpmentname_del">
            <input type="text" id="id_delDubDpmentName" name="name_displayOldSubDpmentname_del" style="color:#848484;" readonly>
          </div>
        </div>
      </div>

    </div>
    <div class="mobile-ios-modal-options">
      <input type="submit" name="" id="" value="ตกลง" class="button " >
      <button data-close type="reset" class="alert button">ยกเลิก</button>
    </div>
  </form>
</div>
