<!-- สคริปJS froundation -->
<script src="js/vendor/foundation.min.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/vendor/what-input.js"></script>

<script src="js/app.js"></script>
<script src="js/JSHeader.js"></script>


<script src="js/plugins/auto-complete.js"></script>
<script src="js/plugins/auto-complete.min.js"></script>

<!-- สคริปnotify -->
<script src="js/plugins/noty.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js" type="text/javascript"></script>


<!-- date-picker -->
<script src="js/datepicker.js"></script>
<script src="js/datepicker.th-TH.js"></script>
