<% if (userinfo.userPermission == "admin") { %>
  <% include ../partials/adminHeader %>
<% } %>

<% if (userinfo.userPermission == "user") { %>
  <% include ../partials/userHeader %>
<% } %>

<% if (userinfo.userPermission == "board") { %>
  <% include ../partials/boardHeader %>
<% } %>
