<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Research Database System</title>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<link rel="icon" type="image/png" href="favicon.png" />
<link rel="shortcut icon" href="http://example.com/myicon.ico" />
<link href="\web-fonts-with-css\css\fontawesome-all.css" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!-- สคริปJS froundation -->
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/foundation.min.css">

<!-- datepicker -->
<link rel="stylesheet" href="css/datepicker.css">
<link rel="stylesheet" href="css/datepicker.min.css">

<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/HeaderCSS.css">




<link rel="stylesheet" href="css/auto-complete.css">

<link rel="stylesheet" href="css/notify.css">

<link rel="stylesheet" href="css/pnotify.custom.min.css">

<link href="css/noty.css" rel="stylesheet">
<link href="css/noty.css.map" rel="stylesheet">
<link href="css/themes/relax.css" rel="stylesheet">
<link href="css/themes/semanticui.css" rel="stylesheet">


<!-- CDN For Foundation Style - DataTable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
