html {
  min-width: 1910px !important;
}
input[type=text]{
  margin:0px 0px 0px 0px!important;
  border-radius:5px!important;
}
input[type=file]{
  margin:0px 0px 0px 0px!important;
  border-radius:5px!important;
}
input[type=number]{
  margin:0px 0px 0px 0px!important;
  border-radius:5px!important;
}

input[type=radio]{
  margin:0px 0px 0px 0px!important;
  border-radius:5px!important;
}
select{
  margin:0px 0px 0px 0px!important;
  border-radius:5px!important;
}
input[type=submit]{
  margin: 0px !important;
}


.notGoneJustDisappear {
  display: none;
}

.button {
  margin: 0px !important;
  border-radius:2.5rem!important;
}

.label-top-select{
  color:#8a8a8a;
}

.fullw {
  height: 100vh;
  background: #4d5158;
}

.bgid {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url(../picture/pexels-photo-149369.jpeg) center center no-repeat;
  background-size: cover;
}

.animated-search-form[type=search] {
  width: 10rem;
  border: 0.125rem solid #e6e6e6;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 2em;
  background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:hover {
  width: 25rem;
}

.animated-search-form[type=search]:focus {
  width: 25rem;
}

.bgforms {
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../picture/pexels-photo-256112.jpg");
  width: 100%;
  height: 12.5rem;
  padding: 1em;
}

.bgindex {
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .7)), url("../picture/pexels-photo-149369.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: fixed;
  padding-top: 1em;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}

.minh1 {
  min-height: 15rem;
}

.floated-label-wrapper {
  position: relative;
}

.floated-label-wrapper label {
  background: #fefefe;
  color: #1779ba;
  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  transition: all 0.15s ease-in;
  z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em;
}

.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in;
}
