<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/editProject.css">

<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;background:#FAFAFA;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
      </div>
      <div class="cell medium-cell-block-y auto">
        <div class="cell small-6 full  bgforms" align="left">
          <div style="padding: 2rem">
            <div class="grid-x">
              <div class=" small-2"></div>
              <div class="small-8 fieldProJ">
                <h1>เพิ่มโครงการวิจัยใหม่</h1>
                <p style="color:#707070;">รหัสโครงการวิจัย :
                  <%=data6%>
                </p>
                <input type="hidden" name="idofproject" value="<%=data6%>" id="ID_idproject" required>
              </div>
              <div class=" small-2"></div>
            </div>
          </div>
        </div>

        <div class="cell small-6" style="padding:2rem;">
          <form onload="document.id_formNewProJ.reset();" id="id_formNewProJ" name="id_formNewProJ" enctype="multipart/form-data" method="post" action="/new-project">
            <div class="grid-x">
              <div class="cell small-2"></div>
              <div class="cell small-6">

                <div class="grid-y grid-margin-y">

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ข้อมูลทั่วไป</label>
                      <p style="color:red;">กรุณากรอกข้อมูลให้ครบทุกช่อง ก่อนกดยืนยัน หากไม่มีข้อมูลให้ใส่ - </p>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="NAME_nameProjectTH">ชื่อโครงการ(ไทย)</label>
                            <input type="text" name="NAME_nameProjectTH" id="ID_nameProjectTH" placeholder="ชื่อโครงการ(ไทย)" required>
                          </div>

                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="NAME_nameProjectEN">ชื่อโครงการ(อังกฤษ)</label>
                            <input type="text" name="NAME_nameProjectEN" id="ID_nameProjectEN" placeholder="ชื่อโครงการ(อังกฤษ)" required>
                          </div>

                        </div>
                      </div>
                      <div class="cell small-6" style="padding:1em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3">
                            <label style="font-size:1.25em;">หัวหน้าโครงการวิจัย</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <input type="text" name="searchUserLD" id="searchUserLD" placeholder="กรุณาใส่อีเมลนักวิจัย เพื่อค้นหาและเพิ่ม" />
                          </div>
                          <!-- คอลัม 3 -->
                          <div class="cell small-3">
                            <button type="button" class="hollow button small" href="#" id="addRow">เพิ่ม</button>
                            <button type="button" class="hollow button small alert" href="#" id="removeRow">ลบ</button>
                          </div>


                        </div>
                      </div>
                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3"></div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <span class="label alert hide" id="notFoundSearchUserLD"><i class="fi-x-circle"></i>ไม่พบ</span>
                            <span class="label alert hide" id="emptrySearchUserLD"><i class="fi-x-circle"></i>กรุณากรอกข้อมูลก่อนค้นหา</span>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3"></div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">
                        <table id="memberLDProjTable" class=" hover unstriped " style="width:100%">
                          <thead>
                            <tr>
                              <th>อีเมล</th>
                              <th>ชื่อ</th>
                              <th>นามสกุล</th>
                              <th>สัดส่วนงานวิจัย</th>
                            </tr>
                          </thead>
                        </table>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
                    <div class="grid-y">

                      <div class="cell small-6" style="padding:1em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3">
                            <label style="font-size:1.25em;">ผู้ร่วมวิจัย</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <input type="text" name="searchUserRS" id="searchUserRS" placeholder="กรุณาใส่อีเมลนักวิจัย เพื่อค้นหาและเพิ่ม" />
                          </div>
                          <!-- คอลัม 3 -->
                          <div class="cell small-3">
                            <button type="button" class="hollow button small" href="#" id="addRow2">เพิ่ม</button>
                            <button type="button" class="hollow button small alert" href="#" id="removeRow2">ลบ</button>
                          </div>

                        </div>
                      </div>
                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3"></div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <span class="label alert hide" id="notFoundsearchUserRS"><i class="fi-x-circle"></i>ไม่พบ</span>
                            <span class="label alert hide" id="emptrysearchUserRS"><i class="fi-x-circle"></i>กรุณากรอกข้อมูลก่อนค้นหา</span>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3"></div>
                        </div>
                      </div>
                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">
                        <table id="memberRSProjTable" class=" hover unstriped " style="width:100%">
                          <thead>
                            <tr>
                              <th>อีเมล</th>
                              <th>ชื่อ</th>
                              <th>นามสกุล</th>
                              <th>สัดส่วนงานวิจัย</th>
                            </tr>
                          </thead>
                        </table>
                      </div>


                    </div>
                  </div>


                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">ทุนวิจัย</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="budgetYear">ปีงบประมาณ</label>
                            <select name="NAME_budgetYear" id="budgetYear" placeholder="ปีงบประมาณ">
                              <option selected="selected" value="-">ไม่มี</option>
                              <% for (var i = 0; i < data0.length; i++){ %>
                              <option value="<%= data0[i].grants_Years %>">
                                <%=data0[i].grants_Years %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="BudgetName">ชื่องบประมาณ</label>
                            <select name="BudgetName" id="BudgetName" placeholder="ชื่องบประมาณ"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-7 floated-label-wrapper fieldProJ">
                            <label for="BudgetAllocated">งบประมาณที่ได้รับการจัดสรร</label>
                            <input type="text" name="amountBudget" id="BudgetAllocated" placeholder="งบประมาณที่ได้รับการจัดสรร" required />
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">ลักษณะโครงการ</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" id="projectSetElmID" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 fieldProJ">
                            <input type="radio" name="projectSet" value="1" id="projectSet_1">
                            <label class="" for="projectSet_1">โครงการชุด</label>
                          </div>

                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">

                            <input type="radio" name="projectSet" value="0" id="projectSet_0">
                            <label class="" for="projectSet_0">โครงการเดี่ยว</label>
                          </div>

                          <!-- คอลัม 3 -->
                          <div class="cell small-3 floated-label-wrapper fieldProJ">
                            <label for="">ปีที่</label>
                            <input type="number" min="1" max="8" name="projectYears" id="ID_projectYears" placeholder="ปีที่" required />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6 hide" id="projectMainElmID" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 ">
                            <input type="radio" name="projectMain" value="1" id="projectMain_1">
                            <label class=" " for="projectMain_1">โครงการหลัก</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">
                            <input type="radio" name="projectMain" value="0" id="projectMain_0">
                            <label class=" " for="projectMain_0">โครงการย่อย</label>
                          </div>


                        </div>
                      </div>

                      <div class="cell small-6 hide" id="id_projectParentElm" style="padding:0em 1em 1em 1em;">
                        <p style="color:#717272">กรุณาเลือกโครงการหลัก ของโครงการย่อยนี้</p>
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 " id="" style="padding:1em 0em 1em 0em">
                            <select name="name_projectParentYear" id="id_projectParentYear">
                              <option selected="selected" value="-">ไม่มี</option>
                              <% for (var i = 0; i < data7.length; i++){ %>
                              <option value="<%= data7[i].grants_Years %>">
                                <%=data7[i].grants_Years %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-9 floated-label-wrapper " id="" style="padding:1em 0em 1em 0em">
                            <label for=""></label>
                            <select name="name_projectParentName" id="id_projectParentName"></select>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>



                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">หน่วยงาน</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="country" style="color:#8a8a8a;">ประเทศ</label>
                            <select name="country" id="ID_PJ_ADD_country" placeholder="ประเทศ" style="margin:0px!important;border-radius:5px;">
                              <option disabled selected value>เลือก</option>
                              <% for (var i = 0; i < data1.length; i++){ %>
                              <option value="<%= data1[i].countryISOCode %>">
                                <%=data1[i].countryName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="university" style="color:#8a8a8a;">มหาวิทยาลัย</label>
                            <select name="university" id="ID_PJ_ADD_Uni" placeholder="มหาวิทยาลัย"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="faculty" style="color:#8a8a8a;">คณะ</label>
                            <select name="faculty" id="id_PJ_ADD_fac" placeholder="คณะ"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="department" style="color:#8a8a8a;">หน่วยงานหลัก</label>
                            <select name="department" id="id_PJ_ADD_dpment" placeholder="หน่วยงานหลัก"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="department" style="color:#8a8a8a;">หน่วยงานย่อย</label>
                            <select name="subdepartment" id="id_PJ_ADD_subdpment" placeholder="หน่วยงานย่อย"></select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">รายละเอียดโครงการ</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="id_PJ_ADD_ResearcType" style="color:#8a8a8a;">ประเภทงานวิจัย</label>
                            <select name="name_PJ_ADD_ResearcType" id="id_PJ_ADD_ResearcType">
                              <% for (var i = 0; i < data2.length; i++){ %>
                              <option value="<%= data2[i].idresearchType %>">
                                <%=data2[i].Name_researchType %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="" style="color:#8a8a8a;">สาขาการวิจัย</label>
                            <select name="name_PJ_ADD_Researchbranch" id="id_PJ_ADD_Researchbranch">
                              <% for (var i = 0; i < data3.length; i++){ %>
                              <option value="<%= data3[i].researchbranchID %>">
                                <%=data3[i].researchbranchName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="id_PJ_ADD_Researchform" style="color:#8a8a8a;">รูปแบบการวิจัย</label>
                            <select name="name_PJ_ADD_Researchform" id="id_PJ_ADD_Researchform">
                              <% for (var i = 0; i < data4.length; i++){ %>
                              <option value="<%= data4[i].ResearchFormID %>">
                                <%=data4[i].ResearchFormName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="id_PJ_ADD_Researchstrategic" style="color:#8a8a8a;">ชื่อยุทศาสตร์</label>
                            <select name="name_PJ_ADD_Researchstrategic" id="id_PJ_ADD_Researchstrategic">
                              <% for (var i = 0; i < data5.length; i++){ %>
                              <option value="<%= data5[i].researchStrategicID %>">
                                <%=data5[i].rsearchStrategicName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
                    <div class="grid-x grid-margin-x">
                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <h5 class="separator-left" style="font-size:1.5em; ">วันที่แจ้งเตือนการส่งเอกสาร</h5>
                        <p style="color:red">*กรุณากรอกข้อมูลให้ครบทุกช่อง ถ้าไม่มี กรุณาใส่ -</p>
                      </div>
                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <label for="">สถานะการดำเนินงาน</label>
                        <select name="stateOfProJ" id="">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                      </div>
                    </div>
                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 0em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">1.</span> ทำบันทึกขออนุมัติดำเนินโครงการฯ (ฟอร์ม 2)พร้อมแนบแผนการใช้จ่ายเงิน (วจ.1) (ฟอร์ม 1)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState1" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">2.</span> ทำบันทึกเบิกงวด 1 (ฟอร์ม 3 )</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState2" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">3.</span> การจัดซื้อวัสดุ (ฟอร์ม 4)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState3" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">4.</span> การจัดจ้าง (ฟอร์ม 5)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState4" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">5.</span> ใบสำคัญรับเงิน (ฟอร์ม 6)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState5" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">6.</span> ขอขยายเวลาดำเนินโครงการวิจัยฯ (ฟอร์ม 7)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState6" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">7.</span> ทำบันทึกส่งหลักฐานการใช้เงิน (ฟอร์ม 8)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState7" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">8.</span> ทำบันทึกเบิกเงินงวดที่ 2 (ฟอร์ม 9 )พร้อมแนบรายงานความก้าวหน้า(ฟอร์ม 10 )</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState8" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">9.</span> ทำบันทึกเบิกงวด 3 (ฟอร์ม 11)พร้อมส่งเล่มรายงานวิจัยฉบับสมบูรณ์ 6 เล่ม ซีดี 2 แผ่น</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState9" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">10.</span> ทำบันทึกส่งเล่มรายงานวิจัย (ฟอร์ม 12)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState10" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">11.</span> ทำบันทึกส่งมอบครุภัณฑ์ (ถ้ามี) (ฟอร์ม 13)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState11" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">12.</span> ทำบันทึกปิดโครงการวิจัย (ฟอร์ม 14)พร้อมแนบ วจ.2 (ฟอร์ม 15)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input required type="text" name="dateState12" data-toggle="datepicker" placeholder="วันที่" autocomplete="off" />
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="22">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <input disabled type="submit" value="ยืนยัน" class="button primary expanded" id="id_confirmNewProJ" style="border-radius:5px;padding:1em;">
                  </div>

                  <div class=" small-6">
                    <a type="button" href="all-project" class="button hollow  alert expanded" style="border-radius:5px;padding:1em;">ยกเลิก</a>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>


</footer>

</html>
