<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/forms.css">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y shrink " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>
      <div class="cell auto">
        <div class="grid-y">

          <div id="demo">
            <div class="cell small-6-container full bgforms" align="center">
              <h1>แบบฟอร์ม</h1>
              <input id="txtSearch" type="search" name="search" placeholder="ค้นหาข้อมูล" class="animated-search-form form-control">
              <div align="right" style="padding-right:1rem">
                <% if (userinfo.userPermission == "admin") { %>
                  <a class="button secondary" data-open="mobile-ios-modal" id="ID_DC_newForm">อัพโหลดแบบฟอร์ม</a>
                <% } %>

              </div>

              <!-- เพิ่มไฟล์ -->
              <div class="reveal mobile-ios-modal" id="mobile-ios-modal" data-reveal>
                <form id="ID_documentForm" ref='uploadForm' encType="multipart/form-data" class="" action="/forms" method="post">
                  <h3 style="padding-bottom:3%">เพิ่มไฟล์ที่นี่</h3>
                  <div class="mobile-ios-modal-inner">
                    <!-- <label for="exampleFileUpload" id="resume_link" class="button">เพิ่มไฟล์</label> -->
                    <input type="file" id="id_DocFile" name="foo" accept=".pdf">
                  </div>
                  <div style="padding:1em 0em 1em 0em;">
                    <div class="floated-label-wrapper">
                      <label for="full-name">ชื่อแบบฟอร์ม</label>
                      <input type="text" id="ID_DC_input_newDocName" name="fName" placeholder="ชื่อแบบฟอร์ม">
                      <span class="label alert hide" id="ID_DC_insert_duplicatename">ชื่อแบบฟอร์ม นี้มีแล้ว</span>
                      <span class="label alert hide" id="ID_DC_insert_emptyname">กรุณากรอกชื่อ/อัพโหลด แบบฟอร์ม</span>
                    </div>
                  </div>
                  <div class="mobile-ios-modal-options">
                    <input type="submit" name="uploadbutton" value="Upload" class="button" disabled="disabled">
                    <button data-close type="reset" class="button">Cancel</button>
                  </div>
                </form>
              </div>

              <!-- แก้ไขชื่อไฟล์ -->
              <% include ../pages/document/editFileName %>

            </div>
            <div style="padding:2.5rem;">
              <table id="form-Table" class="hover unstriped ">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อเอกสาร</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% if(data.length){
                  for(var i = 0;i < data.length;i++) { %>
                  <tr class="showhim ">
                    <td>
                    </td>
                    <td>
                      <%=data[i].documentName%>
                    </td>
                    <td><a class="small button primary showme" href="/forms/download/<%=data[i].documentDir%>">ดาวน์โหลด</a></td>
                    <td><a class="small button warning showme" id="editFileDocName"onclick="showOldname('<%=data[i].documentName%>','<%=data[i].documentID%>')" data-open="mobile-ios-modal2">แก้ไข</a></td>
                    <td><a class="small button alert showme" onclick="return confirm('คุณต้องการที่จะ ลบ <%= data[i].documentName %> หรือไม่ ?');" href="/forms/delete/<%=data[i].documentID %>">ลบ</a></td>
                  </tr>
                  <% }
                }else{ %>
                  <tr>
                    <td colspan="3">No user</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include ../partials/footer %>
      <script src="js/app.js"></script>
      <script src="js/module/document.js"></script>
      <script src="js/datatable/forms-Table.js"></script>
    </footer>
  </div>
</body>

</html>
