<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.foundation.min.css">
<link rel="stylesheet" href="css/login.css">

<head>

  	<% include ../partials/head %>


</head>

<body>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y shrink " style="width:17rem">
        	<% include ../partials/header %>
      </div>

      <div class="auto medium-cell-block-y bgindex" style="width:100vmax">



      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
    <script src="js/app.js"></script>
  </footer>
</body>

</html>
