<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/personal-info.css">
<link rel="stylesheet" href="css/regis.css">
<link rel="stylesheet" href="css/signup.css">
<link rel="stylesheet" href="css/foundation-datepicker.css">
<link rel="stylesheet" href="css/foundation-datepicker.css.map">
<link rel="stylesheet" href="css/foundation-datepicker.min.css">

<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>
      <div class="cell medium-cell-block-y auto">

        <div class="cell small-6 full  bgforms" align="left">
          <div style="padding: 2rem  4em 2em 10em;">
            <div class="grid-x">
              <div class=" small-2">

              </div>
              <div class=" small-8">
                <h1>เกี่ยวกับฉัน</h1>
              </div>
              <div class=" small-2"></div>
            </div>
          </div>
        </div>

        <div class="cell small-6 " align="center" style="padding:2em 0em 2em 12em;">
          <div class="grid-x grid-margin-x">
            <div class=" small-2"></div>
            <div class=" small-6">
              <ul class="menu menu-fancy">
                <li class="menu-fancy-option1 is-selected" id="ME_ID_editPersonalInfo"><a>แก้ไขข้อมูลส่วนตัว</a></li>
                <li class="menu-fancy-option2" id="ME_ID_editWorkInfo"><a >แก้ไขข้อมูลที่ทำงาน</a></li>
                <li class="menu-fancy-option3" id="ME_ID_resetPassword"><a >เปลี่ยนรหัสผ่านใหม่</a></li>
                </li>
              </ul>
            </div>
            <div class=" small-4"></div>
          </div>

        </div>

        <!-- ข้อมูลส่วนตัว -->
        <div id="ME_Elm_PersonalInfo"class="cell small-6 " style="padding:2rem  4em 2em 10em;display:block;">
          <form id="" name="" enctype="multipart/form-data" method="post" action="/editmyinfo">
            <div class="grid-x grid-margin-x">
              <div class="cell small-2">
                <div class="image-hover-wrapper">
                  <div class="avatar-preview">
                    <a href="#">
                      <div id="profileimage2" class="imagePreview" style="background-image: url(./userprofile/<%=userinfo.profilePic%>);"></div>
                      <span class="image-hover-wrapper-reveal">
                        <p>เปลี่ยนรูป<br>
                          <input type='file' id="profileimage" name="profileimage" accept=".png, .jpg, .jpeg" value="<%=userinfo.profilePic%>"/>
                        </p>
                      </span>
                    </a>
                  </div>
                </div>
              </div>


              <div class="cell small-6 ">
                <div class="grid-y grid-margin-y">

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ข้อมูลส่วนตัว </label>
                      <p style="color:#cc4b37;">*กรุณากรอกข้อมูลให้ครบทุกช่อง ถ้าไม่มีกรุณาใส่ -</p>
                    </div>

                    <div class="grid-y">
                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 ">
                            <label for="email">E-Mail</label>
                            <input type="email" name="editemail"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.email%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 ">
                            <label>สิทธิ์การใช้งาน</label>

                            <select name="userPermission" style="margin:0px!important;border-radius:5px;">
                              <option value="--Select--" disabled>สิทธิ์การใช้งาน</option>
                              <option <%- userinfo.userPermission=="admin" ? "selected" : "" %> value="admin">ผู้ดูแลระบบ</option>
                              <option <%- userinfo.userPermission=="board" ? "selected" : "" %> value="board">ผู้บริหาร</option>
                              <option <%- userinfo.userPermission=="user" ? "selected" : "" %> value="user">นักวิจัย</option>
                            </select>

                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 ">
                            <label for="nameIDHuman">รหัสบัตรประชาชน</label>
                            <input type="text" name="humanID"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.nameIDHuman%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 ">
                            <label for="birthday">วัน/เดือน/ปีเกิด</label>
                            <input type="text" name="birthday" data-toggle="datepicker" style="margin:0px!important;border-radius:5px;" value="<%=userinfo.birthday%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 ">
                            <label for="prefix">คำนำหน้า</label>

                            <select name="prefix" style="margin:0px!important;border-radius:5px;">
                              <option value="--Select--" disabled>กรุณาเลือก</option>
                              <option <%- userinfo.prefix=="Mr." ? "selected" : "" %> value="Mr.">นาย</option>
                              <option <%- userinfo.prefix=="Mrs." ? "selected" : "" %> value="Mrs.">นาง</option>
                              <option <%- userinfo.prefix=="Miss." ? "selected" : "" %> value="Miss.">นางสาว</option>
                            </select>

                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">
                            <label for="academicPositions">ตำแหน่งทางวิชาการ</label>

                            <select name="academicPositions" style="margin:0px!important;border-radius:5px;">
                              <option value="--Select--" disabled>กรุณาเลือก</option>
                              <option <%- userinfo.academicPositions=="ศ.ดร." ? "selected" : "" %> value="ศ.ดร.">ศ.ดร.</option>
                              <option <%- userinfo.academicPositions=="ศ." ? "selected" : "" %> value="ศ.">ศ.</option>
                              <option <%- userinfo.academicPositions=="รศ.ดร." ? "selected" : "" %> value="รศ.ดร.">รศ.ดร.</option>
                              <option <%- userinfo.academicPositions=="รศ." ? "selected" : "" %> value="รศ.">รศ.</option>
                              <option <%- userinfo.academicPositions=="ผศ.ดร." ? "selected" : "" %> value="ผศ.ดร.">ผศ.ดร.</option>
                              <option <%- userinfo.academicPositions=="ผศ." ? "selected" : "" %> value="ผศ.">ผศ.</option>
                              <option <%- userinfo.academicPositions=="ดร." ? "selected" : "" %> value="ดร.">ดร.</option>
                              <option <%- userinfo.academicPositions=="อ." ? "selected" : "" %> value="อ.">อ.</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 ">
                            <label for="firstname">ชื่อ (ภาษาไทย)</label>
                            <input type="text" name="myFName"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.firstname%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <label for="lastname">นามสกุล (ภาษาไทย)</label>
                            <input type="text" name="myLName"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.lastname%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 ">
                            <label for="engFirstName">ชื่อ (ภาษาอังกฤษ)</label>
                            <input type="text" name="myEN_FName"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.engFirstName%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 ">
                            <label for="engLastName">นามสกุล (ภาษาอังกฤษ)</label>
                            <input type="text"name="myEN_LName" style="margin:0px!important;border-radius:5px;" value="<%=userinfo.engLastName%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 ">
                            <label for="nationality">สัญชาติ</label>
                            <input type="text" name="nationality"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.nationality%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 ">
                            <label for="telNumber">เบอร์โทร</label>
                            <input type="text" name="myTel"style="margin:0px!important;border-radius:5px;" value="<%=userinfo.telNumber%>">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="20">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <input type="submit" value="ยืนยัน" class="button primary " id="" style="border-radius:2em;padding:1em;">
                  </div>

                  <div class=" small-6">

                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>

        <!-- ข้อมูลที่ทำงาน -->
        <div id="ME_Elm_WorkInfo"class="cell small-6 " style="padding:2rem  4em 2em 10em;display:none;">
          <form id="" name="" enctype="multipart/form-data" method="post" action="/editmywork">
            <div class="grid-x grid-margin-x">
              <div class="cell small-2"></div>
              <div class="cell small-6 ">

                <div class="grid-y grid-margin-y">

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label  style="font-size:1.5em;">ข้อมูลที่ทำงาน</label>
                      <p style="color:#cc4b37;">*กรุณากรอกข้อมูลให้ครบทุกช่อง ถ้าไม่มีกรุณาใส่ -</p>

                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" style="padding:0em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 ">
                            <label style="color:#767676">วันที่เข้าทำงาน</label>
                            <input required name="myfristDayJoin" type="text" data-toggle="datepicker" value="<%=userinfo.fristDayJoin%>">
                          </div>

                          <!-- คอลัม 2 -->
                          <div class="cell small-6 ">
                            <label style="color:#767676">วันที่ออก</label>
                            <input required name="mydayLeft" type="text" data-toggle="datepicker" value="<%=userinfo.dayLeft%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label style="color:#767676">ประเทศ</label>
                            <select name="myCountryID" required id="ME_ID_country">
                              <option value="" disabled>กรุณาเลือก</option>

                              <% for(var i=0; i<data0.length; i++) {%>
                                <option value=<%=data0[i].countryISOCode%> ><%=data0[i].countryName%></option>
                                 <%if (data0[i].countryISOCode==userinfo.country) { %>
                                   <option value=<%=data0[i].countryISOCode%> selected ><%=data0[i].countryName%></option>
                                  <% } %>
                              <% } %>

                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label style="color:#767676">มหาวิทยาลัย</label>
                            <select name="myUniversityID" required id="ME_ID_university">
                              <option value="" disabled>กรุณาเลือก</option>
                              <% for(var i=0; i<data1.length; i++) {%>
                                <option value=<%=data1[i].uniID%> ><%=data1[i].uniName%></option>
                                 <%if (data1[i].uniID==userinfo.university) { %>
                                   <option value=<%=data1[i].uniID%> selected ><%=data1[i].uniName%></option>
                                  <% } %>
                              <% } %>
                            </select>

                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label style="color:#767676">คณะ</label>
                            <select name="myFacultyID" id="ME_ID_faculty">
                              <option value="" disabled>กรุณาเลือก</option>
                              <% for(var i=0; i<data2.length; i++) {%>
                                <option value=<%=data2[i].facultyID%> ><%=data2[i].facultyName%></option>
                                 <%if (data2[i].facultyID==userinfo.faculty) { %>
                                   <option value=<%=data2[i].facultyID%> selected ><%=data2[i].facultyName%></option>
                                  <% } %>
                              <% } %>
                            </select>

                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label style="color:#767676">หน่วยงานหลัก</label>
                            <select name="myDepartmentID"id="ME_ID_department">
                              <option value="" disabled>กรุณาเลือก</option>
                              <% for(var i=0; i<data3.length; i++) {%>
                                <option value=<%=data3[i].departmentID%> ><%=data3[i].departmentName%></option>
                                 <%if (data3[i].departmentID==userinfo.department) { %>
                                   <option value=<%=data3[i].departmentID%> selected ><%=data3[i].departmentName%></option>
                                  <% } %>
                              <% } %>
                            </select>

                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label style="color:#767676">หน่วยงานย่อย</label>
                            <select name="mySubDepartmentID"id="ME_ID_subdepartment">
                              <option value="" disabled>กรุณาเลือก</option>
                              <% for(var i=0; i<data4.length; i++) {%>
                                <option value=<%=data4[i].Sub_Dpment_ID%> ><%=data4[i].Sub_Dpment_name%></option>
                                 <%if (data4[i].Sub_Dpment_ID==userinfo.subdepartment) { %>
                                   <option value=<%=data4[i].Sub_Dpment_ID%> selected ><%=data4[i].Sub_Dpment_name%></option>
                                  <% } %>
                              <% } %>
                            </select>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="20">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <input type="submit" value="ยืนยัน" class="button primary " id="" style="border-radius:2em;padding:1em;">
                  </div>

                  <div class=" small-6"></div>

                </div>
              </div>

            </div>

          </form>
        </div>

        <!-- เปลี่ยนรหัสผ่าน -->
        <div id="ME_Elm_resetPassword"class="cell small-6 " style="padding:2rem  4em 2em 10em;display:none;">
          <form id="" name="" enctype="multipart/form-data" method="post" action="/reset-password">
            <div class="grid-x grid-margin-x">
              <div class="cell small-2"></div>
              <div class="cell small-6 ">

                <div class="grid-y grid-margin-y">

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">เปลี่ยนรหัสผ่านใหม่</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:1em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label>รหัสผ่านใหม่</label>
                            <input type="text" name="newPassword1" id="ME_ID_newPassword1">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label>รหัสผ่านใหม่อีกครั้ง</label>
                            <input type="text" name="newPassword2" id="ME_ID_newPassword2">
                            <span class="label alert hide" id="ME_ID_reset_Div_alertEmptryPS"><i class="fi-x-circle"></i>กรุณาใส่รหัสผ่าน</span>
                            <span class="label alert hide" id="ME_ID_reset_Div_wrongPS"><i class="fi-x-circle"></i>รหัสผ่านไม่ตรงกัน</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="20">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <input type="submit" value="ยืนยัน" class="button primary " id="comfirmResetPassword" style="border-radius:2em;padding:1em;">
                  </div>

                  <div class=" small-6"></div>

                </div>
              </div>

            </div>

          </form>
        </div>

      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>
  <script src="js/module/me.js"></script>
  <script src="js/reset-password.js"></script>

  <script src="js/regis.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/foundation-datepicker.js"></script>
  <script src="js/foundation-datepicker.min.js"></script>
</footer>

</html>
