<!DOCTYPE html>
<html lang="en" dir="ltr">

<link rel="stylesheet" href="css/portforio.css">

<style>.dataTables_length{display: none}.dataTables_filter{display: none}</style>

<head>
  <% include ../partials/head %>
</head>
<div class="grid-y">
  <div data-sticky-container>
    <nav class="top-bar topbar-responsive" data-sticky data-options="marginTop:0;" style="background:#020304;width:100%" data-top-anchor="1">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="#"><strong>Research Database System</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Publication Clinic</a></li>
            <li><a href="#">Research Unit</a></li>
            <li><a href="#">Journal</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <div class="">
                <img class="pic-profile" src="./userprofile/<%=userinfo.profilePic%>">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<body>
  <div class="grid-y">
    <div class="grid-x bgportforio">
      <div class="cell small-2"></div>
      <div class="cell small-10" style="padding-top:50px">
        <h1>Our Researcher</h1>
        <input id="txtourResearcher" type="search" name="" placeholder="ค้นหาข้อมูล" class="animated-search-form-portforio form-control">
      </div>

    </div>
    <div class="grid-x">
      <div class="cell medium-2" style="background:#FAFAFA;"></div>
      <div class="cell medium-7">
        <div class="grid-x">
          <div class="cell medium-4" style="padding-top:50px;background:#FAFAFA;">
            <div class="grid-y button-group round" style="padding:0em 1em 0em 1em">
              <p style="font-size: 24px;font-weight: bold;"><i class="fas fa-filter"></i> Refine result</p>
              <label for="selectFac">Faculty</label>
              <select id="selectFac">
                <option selected="selected" hidden>เลือก</option>
                <% for (var i = 0; i < data2.length; i++){ %>
                <option value="<%= data2[i].facultyName %>">
                  <%=data2[i].facultyName %>
                </option>
                <% } %>
              </select><br>

              <label for="selectacademicPos">Academic Positions</label>
              <select id="selectacademicPos">
                <option selected="selected" hidden>เลือก</option>
                <% for (var i = 0; i < data3.length; i++){ %>
                <option value="<%= data3[i].academicPositions %>">
                  <%=data3[i].academicPositions %>
                </option>
                <% } %>
              </select><br>


            </div>
          </div>
          <div class="cell medium-8">

            <section class="filter-simple">

              <div class="grid-x small-up-2 medium-up-2 large-up-3">
                <table id="ourResearcher" class="unstriped">
                  <tbody>
                    <% if(data.length){
                      for(var i = 0;i < data.length;i++) {
                        var a;
                        var b;
                        var c;
                        %>
                    <tr>
                      <td >
                      <a href="/researcher/<%=data[i].id%>">
                        <div class="small-4 column column-block" align="center">
                          <img src="./userprofile/<%=data[i].profilePic%>" alt="" class="researcher-img" />
                          <p class="researcher-text">
                            <%=data[i].academicPositions%>&nbsp;
                            <%=data[i].firstname%>&nbsp;&nbsp;
                            <%=data[i].lastname%>
                          </p>

                          <% for(var j=0; j<data1.length; j++) {%>
                          <%if (data1[j].facultyID==data[i].faculty) { %>
                          <p class="dpment-text" style="line-height:1rem;">
                            <%=data1[j].facultyName%>
                          </p>
                          <% } %>
                          <% } %>

                        </div>
                      </td>

                      <td>
                      <a href="/researcher/<%=data[i].id%>">
                        <div class="small-4 column column-block" align="center">
                          <img src="./userprofile/<%=data[i].profilePic%>" alt="" class="researcher-img" />
                          <p class="researcher-text">
                            <%=data[i].academicPositions%>&nbsp;
                            <%=data[i].firstname%>&nbsp;&nbsp;
                            <%=data[i].lastname%>
                          </p>

                          <% for(var j=0; j<data1.length; j++) {%>
                          <%if (data1[j].facultyID==data[i].faculty) { %>
                          <p class="dpment-text" style="line-height:1rem;">
                            <%=data1[j].facultyName%>
                          </p>
                          <% } %>
                          <% } %>

                        </div>
                      </td>

                      <td>
                      <a href="/researcher/<%=data[i].id%>">
                        <div class="small-4 column column-block" align="center">
                          <img src="./userprofile/<%=data[i].profilePic%>" alt="" class="researcher-img" />
                          <p class="researcher-text">
                            <%=data[i].academicPositions%>&nbsp;
                            <%=data[i].firstname%>&nbsp;&nbsp;
                            <%=data[i].lastname%>
                          </p>

                          <% for(var j=0; j<data1.length; j++) {%>
                          <%if (data1[j].facultyID==data[i].faculty) { %>
                          <p class="dpment-text" style="line-height:1rem;">
                            <%=data1[j].facultyName%>
                          </p>
                          <% } %>
                          <% } %>

                        </div>
                      </td>

                    </tr>

                    <% }
  		                }else{ %>
                    <tr>
                      <td colspan="3">No user</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>

              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="cell medium-3" style="background:#FAFAFA;"></div>
    </div>
  </div>
</body>

<footer class="marketing-site-footer">

  <div class="grid-x " style="padding:1em">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">Insutitute of Research and Delopmant RMUTT</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.</p>
      <ul class="menu marketing-site-footer-menu-social simple">
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" style="color:#FFF" aria-hidden="true"></i>
        <p>เลขที่ 39 หมู่ที่ 1 ถ.รังสิต-นครนายก ต.คลองหก อ.ธัญบุรี จ.ปทุมธานี 12110</p>
      </div>
      <div class="marketing-site-footer-block">
        <i style="color:#FFF" class="fa fa-phone" aria-hidden="true"></i>
        <p>(+66) 0-2549-4682</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>yetirules@fakeemail.com</p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Facebook</h4>
      <div class="grid-x  small-up-3">

      </div>
    </div>
  </div>

  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p> Copyright 2019 &copy; Faculty of Engineering RMUTT </p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Publication Clinic</a></li>
          <li><a href="#">Research Unit</a></li>
          <li><a href="#">Journal</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <script src="js/portforio.js"></script>
  <script src="js/datatable/portforio.js"></script>

</footer>





</html>
