<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/research-project.css">


<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;background:#FAFAFA;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
      </div>
      <div class="cell medium-cell-block-y auto">
        <div class="cell small-6 full  bgforms" align="left">
          <div style="padding: 2rem">
            <div class="grid-x">
              <div class=" small-2"></div>
              <div class=" small-8">
                <h1>เพิ่มโครงการวิจัยใหม่</h1>
                <p style="color:#707070;">รหัสโครงการวิจัย : <%=data6%></p>
                <input type="hidden" name="idofproject" value="<%=data6%>" id="ID_idproject" required>
              </div>
              <div class=" small-2"></div>
            </div>
          </div>
        </div>

        <div class="cell small-6" style="padding:2rem;">
          <form id="" name="" enctype="multipart/form-data" method="post" action="/new-project">
            <div class="grid-x">
              <div class="cell small-2"></div>
              <div class="cell small-6">

                <div class="grid-y grid-margin-y">

                  <% include ../pages/project/memberLD %>
                  <% include ../pages/project/memberRS %>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ลักษณะโครงการ</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6"id="projectSetElmID" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 ">
                            <input type="radio" name="projectSet" value="1" id="projectSet_1" >
                            <label class="" for="projectSet_1">โครงการชุด</label>
                          </div>

                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">

                            <input type="radio" name="projectSet" value="0" id="projectSet_0">
                            <label class="" for="projectSet_0">โครงการเดี่ยว</label>
                          </div>

                          <!-- คอลัม 3 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="">ปีที่</label>
                            <input type="number" min="1" max="8" name="projectYears" id="ID_projectYears" placeholder="ปีที่" required/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6 hide" id="projectMainElmID" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 ">
                            <input type="radio" name="projectMain" value="1" id="projectMain_1">
                            <label class=" " for="projectMain_1">โครงการหลัก</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">
                            <input type="radio" name="projectMain" value="0" id="projectMain_0">
                            <label class=" " for="projectMain_0">โครงการย่อย</label>
                          </div>


                        </div>
                      </div>

                      <div class="cell small-6 hide" id="id_projectParentElm" style="padding:0em 1em 1em 1em;">
                        <p style="color:#717272">กรุณาเลือกโครงการหลัก ของโครงการย่อยนี้</p>
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 " id="" style="padding:1em 0em 1em 0em">
                            <select name="name_projectParentYear" id="id_projectParentYear" >
                              <option selected="selected" value="-">ไม่มี</option>
                              <% for (var i = 0; i < data7.length; i++){ %>
                              <option value="<%= data7[i].grants_Years %>">
                                <%=data7[i].grants_Years %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-9 floated-label-wrapper " id="" style="padding:1em 0em 1em 0em">
                            <label for=""></label>
                            <select name="name_projectParentName" id="id_projectParentName" ></select>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">งบประมาณ</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="budgetYear">ปีงบประมาณ</label>
                            <select name="NAME_budgetYear" id="budgetYear" placeholder="ปีงบประมาณ">
                              <option selected="selected" value="-">ไม่มี</option>
                              <% for (var i = 0; i < data0.length; i++){ %>
                              <option value="<%= data0[i].grants_Years %>">
                                <%=data0[i].grants_Years %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="BudgetName">ชื่องบประมาณ</label>
                            <select name="BudgetName" id="BudgetName" placeholder="ชื่องบประมาณ"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->

                          <div class="cell small-7 floated-label-wrapper">
                            <label for="BudgetAllocated">งบประมาณที่ได้รับการจัดสรร</label>
                            <input type="text"  name="amountBudget" id="BudgetAllocated" placeholder="งบประมาณที่ได้รับการจัดสรร" required/>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">หน่วยงาน</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="country">ประเทศ</label>
                            <select  name="country" id="ID_PJ_ADD_country" placeholder="ประเทศ" style="margin:0px!important;border-radius:5px;">
                              <option disabled selected value>เลือก</option>
                              <% for (var i = 0; i < data1.length; i++){ %>
                              <option value="<%= data1[i].countryISOCode %>">
                                <%=data1[i].countryName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="university">มหาวิทยาลัย</label>
                            <select  name="university" id="ID_PJ_ADD_Uni" placeholder="มหาวิทยาลัย"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="faculty">คณะ</label>
                            <select name="faculty" id="id_PJ_ADD_fac" placeholder="คณะ"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="department">หน่วยงานหลัก</label>
                            <select name="department" id="id_PJ_ADD_dpment" placeholder="หน่วยงานหลัก"></select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="department">หน่วยงานย่อย</label>
                            <select name="subdepartment" id="id_PJ_ADD_subdpment" placeholder="หน่วยงานย่อย"></select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ประเภทงานวิจัย</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="id_PJ_ADD_ResearcType">ประเภทงานวิจัย</label>
                            <select name="name_PJ_ADD_ResearcType" id="id_PJ_ADD_ResearcType" >
                              <% for (var i = 0; i < data2.length; i++){ %>
                              <option value="<%= data2[i].idresearchType %>">
                                <%=data2[i].Name_researchType %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">สาขาการวิจัย</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="">ชื่อประมาณ</label>
                            <select name="name_PJ_ADD_Researchbranch" id="id_PJ_ADD_Researchbranch">
                              <% for (var i = 0; i < data3.length; i++){ %>
                              <option value="<%= data3[i].researchbranchID %>">
                                <%=data3[i].researchbranchName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">รูปแบบการวิจัย</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="id_PJ_ADD_Researchform">รูปแบบการวิจัย</label>
                            <select name="name_PJ_ADD_Researchform" id="id_PJ_ADD_Researchform">
                              <% for (var i = 0; i < data4.length; i++){ %>
                              <option value="<%= data4[i].ResearchFormID %>">
                                <%=data4[i].ResearchFormName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ยุทศาสตร์</label>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="id_PJ_ADD_Researchstrategic">ชื่อยุทศาสตร์</label>
                            <select name="name_PJ_ADD_Researchstrategic" id="id_PJ_ADD_Researchstrategic" >
                              <% for (var i = 0; i < data5.length; i++){ %>
                              <option value="<%= data5[i].researchStrategicID %>">
                                <%=data5[i].rsearchStrategicName %>
                              </option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="22">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <input type="submit" value="ยืนยัน" class="button primary expanded" id="comfirmUserData" style="border-radius:5px;padding:1em;">
                  </div>

                  <div class=" small-6">
                    <a type="button" href="/" class="button hollow  alert expanded" style="border-radius:5px;padding:1em;">ยกเลิก</a>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>
  <script src="js/module/project.js"></script>
  <script src="js/regis.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/foundation-datepicker.js"></script>
  <script src="js/foundation-datepicker.min.js"></script>
</footer>

</html>
