<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <script src="js/Chart.bundle.js"></script>
  <script src="js/Chart.bundle.min.js"></script>
  <script src="js/Chart.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>

<body style="background-color: #efefef;  height: 100vh;">

  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>

      <div class="cell medium-cell-block-y auto" style="width:100%">

        <div class="cell small-6-container full bgforms" >
          <div class="grid-x">
              <div class="cell small-4">
                </div>
            <div class="cell small-5">
              <h1>จัดการรายงาน</h1>
            </div>
            <div class="cell small-4">
            </div>
          </div>
        </div>

        <div class="cell small-6 " style="padding: 1em 1em 0em 1em;" id="grantsReport" >
            <iframe width="100%" height="775px" src="https://datastudio.google.com/embed/reporting/1hxch3nu44PWGoT1MXlMeouZU_2EuSYRY/page/u0iq"  frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>


      </div>

    </div>
  </div>

</body>

<footer>
  <script src="js/module/report.js"></script>
  <% include ../partials/footer %>
</footer>

</html>
