<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css" />

<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #efefef;  height: 100vh;">
	<div class="cell medium-auto medium-cell-block-container">
		<div class="grid-x">

			<div class="cell medium-cell-block-y" style="width:17rem">
				<% include ../partials/header %>
				  <% include ../partials/flash %>
			</div>

			<div class="cell medium-cell-block-y auto" style="width:100%">
				<div class="cell small-6-container full bgforms" align="center">
					<div style="margin:35px;">
						<h1>จัดการสาขางานวิจัย</h1>
					</div>

				</div>

				<div class="grid-x">
					<div class="grid-y small-6">
						<div class="cell small-6" id="id_RB_Add_Div" style="padding:2.5rem;">
							<h3>เพิ่มสาขางานวิจัยใหม่</h3>
							<form class="myform" name="name_RB_Add_Form" ref='uploadForm' encType="multipart/form-data" action="/research-branch" method="post" id="id_RB_Add_Form">
								<div class="grid-x grid-padding-x">
									<div class="small-3 cell">
										<label for="middle-label" class="text-right middle"><b>ชื่อใหม่</b></label>
									</div>
									<div class="small-9 cell RBCLASSINPUTfield">
										<input type="text"  name="file_Name" placeholder="ชื่อสาขางานวิจัยใหม่" id="id_RB_Add_Input_rBranchName">
										<span class="label alert " id="id_RB_Add_Div_alertEmptryName"><i class="fi-x-circle"></i>กรุณากรอกข้อมูล</span>
										<span class="label alert hide" id="id_RB_Add_Div_alertDuplicateName"><i class="fi-x-circle"></i>สาขางานวิจัยนี้ มีแล้ว</span>
									</div>
								</div>
								<input type="submit" value="เพิ่ม" class="button" id="id_RB_Add_Confirm_newrBranchName" disabled="disabled">
							</form>

						</div>

						<div class="cell small-6 " style="padding:2.5rem;display: none;" id="id_RB_Edit_Div">
							<h3>แก้ไขสาขางานวิจัย</h3>
							<form id="id_RB_Edit_Form" ref='uploadForm' encType="multipart/form-data" class="form-fields" action="/research-branch/update" method="post">
								<div class="grid-x grid-padding-x">
									<div class="small-3 cell">
										<label for="middle-label" class="text-right middle"><b>ชื่อเดิม</b></label>
										<label for="middle-label" class="text-right middle"><b>ชื่อใหม่</b></label>
									</div>
									<div class="small-9 cell RBCLASSINPUTEDITfield">
										<label for="middle-label" class="text-left middle" id="id_RB_Edit_label_oldrBranchName"></label>
										<input name="file_Nameold" type="hidden" id="id_RB_Edit_hideInput_oldrBranchName" value="">
										<input type="text" id="id_RB_Edit_input_newrBranchName" name="file_NameUpdate" placeholder="ชื่อสาขางานวิจัยใหม่">
										<span class="label alert hide" id="id_RB_Add_DivEdit_alertEmptryName"><i class="fi-x-circle"></i>กรุณากรอกข้อมูล</span>
										<span class="label alert hide" id="id_RB_Add_DivEdit_DuplicateName"><i class="fi-x-circle"></i>สาขางานวิจัยนี้ มีแล้ว</span>
									</div>
								</div>
								<input type="submit" value="ยืนยัน" class="button" id="id_RB_Edit_Comfirm_ChangedRBName" disabled="disabled">
								<input type="reset" onclick="myFunction2()" value="ยกเลิก" class="button alert">
							</form>
						</div>
					</div>

					<div class="cell small-6 ">
						<div style="padding:2.5rem;">
							<table id="researchbranchTable" class="hover unstriped">
								<thead>
									<tr>
										<th></th>
										<th>ชื่อสาขา</th>
										<th></th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<% if(data.length){
		                  for(var i = 0;i < data.length;i++) { %>
									<tr class="showhim ">
										<td></td>
										<td>
											<%=data[i].researchbranchName%>
										</td>
										<td><a class="small button warning showme" id="id_RB_Display_DivTable_RBTable" onclick="openEditDiv('<%=data[i].researchbranchName%>')" >แก้ไข</a></td>
										<td><a class="small button alert showme" onclick="return confirm('คุณต้องการที่จะ ลบ <%= data[i].researchbranchName %> หรือไม่ ?');" href="/research-branch/delete/<%=data[i].researchbranchID %>">ลบ</a></td>

									</tr>
									<% }
		                }else{ %>
									<tr>
										<td colspan="4">No user</td>
									</tr>
									<% } %>
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</body>

<footer>

	<% include ../partials/footer %>
	<script src="js/app.js"></script>
	<script src="js/datatable/researchBranch-Table.js"></script>
	<script src="js/researchBranch.js"></script>
</footer>

</html>
