<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="css/research-setting.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

<head>
  <% include ../partials/head %>

</head>

<body style="background-color: #efefef;  height: 100vh;">

  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>

      <div class="cell medium-cell-block-y auto" style="width:100%">

        <div class="cell small-6-container full bgforms" align="center">
          <div style="margin:35px;">
            <h1>ตั้งค่าโครงการวิจัย</h1>
          </div>
        </div>

        <div class="grid-x" style="padding:10vmax 0px 0px 30vmax">


          <div id="alert-area" class="alert-area"></div>
          <ul class="list-group" style="width:20em">
            <a href="/Research-Type"><li class="list-group-item">ประเภทงานวิจัย</li></a>
            <a href="/department"><li class="list-group-item">หน่วยงานในระบบ</li></a>
            <a><li class="list-group-item">สาขาการวิจัย</li></a>
            <a><li class="list-group-item">รูปแบบการวิจัย</li></a>
            <a><li class="list-group-item">ยุทธศาสตร์การวิจัย มทร.ธ.</li></a>
            <a><li class="list-group-item">ยุทธศาสตร์การวิจัย อื่น ๆ</li></a>
          </ul>

        </div>

      </div>

    </div>
  </div>

</body>

<footer>
  <% include ../partials/footer %>
  <script src="js/app.js"></script>
</footer>

</html>
