<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #efefef;  height: 100vh;">
	<div class="cell medium-auto medium-cell-block-container">
		<div class="grid-x">

			<div class="cell medium-cell-block-y" style="width:17rem">
				<% include ../partials/header %>
				<% include ../partials/flash %>
			</div>

			<div class="cell medium-cell-block-y auto" style="width:100%">
				<div class="cell small-6-container full bgforms" align="center">
					<div style="margin:35px;">
						<h1>จัดการรูปแบบงานวิจัย</h1>
					</div>
				</div>

				<div class="grid-x">
					<div class="grid-y small-6">
						<div class="cell small-6" id="id_RF_Add_Div" style="padding:2.5rem;">

							<h3>เพิ่มรูปแบบงานวิจัยใหม่</h3>

							<form class="myform" name="name_RF_Add_Form" ref='uploadForm' encType="multipart/form-data" action="/research-form" method="post" id="id_RF_Add_Form">
								<div class="grid-x grid-padding-x">
									<div class="small-3 cell">
										<label for="middle-label" class="text-right middle"><b>ชื่อใหม่</b></label>
									</div>
									<div class="small-9 cell RFCLASSINPUTfield">
										<input type="text" name="file_Name" placeholder="ชื่อรูปแบบงานวิจัยใหม่" id="id_RF_Add_Input_rFormName">
										<span class="label alert " id="id_RF_Add_Div_alertEmptryName"><i class="fi-x-circle"></i>กรุณาชื่อรูปแบบงานวิจัย</span>
										<span class="label alert " id="id_RF_Add_Div_alertDuplicateName"><i class="fi-x-circle"></i>รูปแบบงานวิจัยนี้ มีแล้ว</span>
									</div>
								</div>
								<input type="submit" value="เพิ่ม" class="button" id="id_RF_Add_Confirm_newrFormName" disabled="disabled">
							</form>

						</div>

						<div class="cell small-6 " style="padding:2.5rem;display: none;" id="id_RF_Edit_Div">
							<h3>แก้ไขรูปแบบงานวิจัย</h3>
							<form id="id_RF_Edit_Form" ref='uploadForm' encType="multipart/form-data" class="form-fields" action="/research-form/update" method="post">
								<div class="grid-x grid-padding-x">
									<div class="small-3 cell">
										<label for="middle-label" class="text-right middle"><b>ชื่อเดิม</b></label>
										<label for="middle-label" class="text-right middle"><b>ชื่อใหม่</b></label>
									</div>
									<div class="small-9 cell RFCLASSINPUTEDITfield">
										<label for="middle-label" class="text-left middle" id="id_RF_Edit_label_oldrFormName"></label>
										<input name="file_Nameold" type="hidden" id="id_RF_Edit_hideInput_oldrFormName" value="">
										<input type="text" id="id_RF_Edit_input_newrFormName" name="file_NameUpdate" placeholder="ชื่อรูปแบบงานวิจัยใหม่">
										<span class="label alert hide" id="id_RF_Add_DivEdit_alertEmptryName"><i class="fi-x-circle"></i>กรุณาชื่อรูปแบบงานวิจัย</span>
										<span class="label alert hide" id="id_RF_Add_DivEdit_DuplicateName"><i class="fi-x-circle"></i>รูปแบบงานวิจัยนี้ มีแล้ว</span>
									</div>
								</div>
								<input type="submit" value="ยืนยัน" class="button" id="id_RF_Edit_Comfirm_ChangedRFName" disabled="disabled">
								<input type="reset" onclick="myFunction2()" value="ยกเลิก" class="button alert">
							</form>
						</div>
					</div>

					<div class="cell small-6 ">
						<div style="padding:2.5rem;">
							<table id="researchformTable" class="hover unstriped">
								<thead>
									<tr>
										<th></th>
										<th>ชื่อสาขา</th>
										<th></th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<% if(data.length){
		                  for(var i = 0;i < data.length;i++) { %>
									<tr class="showhim ">
										<td></td>
										<td>
											<%=data[i].ResearchFormName%>
										</td>
										<td><a class="small button warning showme" id="id_RF_Display_DivTable_RFTable" onclick="openEditDiv('<%=data[i].ResearchFormName%>')">แก้ไข</a></td>
										<td><a class="small button alert showme" onclick="return confirm('คุณต้องการที่จะ ลบ <%= data[i].ResearchFormName %> หรือไม่ ?');" href="/research-form/delete/<%=data[i].ResearchFormID %>">ลบ</a></td>

									</tr>
									<% }
		                }else{ %>
									<tr>
										<td colspan="4">No user</td>
									</tr>
									<% } %>
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</body>

<footer>
	<% include ../partials/footer %>
	<script src="js/app.js"></script>
	<script src="js/datatable/researchForm-Table.js"></script>
	<script src="js/researchForm.js"></script>



</footer>

</html>
