<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.foundation.min.css">
<link rel="stylesheet" href="css/login.css">

<head>
  <% include ../partials/head %>
</head>

<body>
    <% include ../partials/flash %>
  <canvas id='stage'></canvas>
  <div class="grid-y" style="height: 350px;">
    <div class="cell small-6 medium-8 large-6"></div>
    <div class="cell small-6 medium-4 large-6">
      <div class="Dform">
        <div class="login-box" style="border-radius: 0.5em;">

          <div class="grid-x " style="height:500px;">

            <div class="small-12 medium-5 column small-order-2 medium-order-1">
              <div class="login-box-form-section">
                <div align="center">
                  <img src="./picture/logo-v1.3.png" alt="Smiley face" height="150" width="340" style="padding-bottom:2.5rem">
                </div>
                <h1 class="login-box-title" style="color:#fff"><i class="fas fa-user"></i> Sign in</h1><a  href="/forgot-password"style="color:#fff">ลืมรหัสผ่าน</a>
                <form name="signin" method="post" action="signin" id="signin">
                  <div style="padding:0.4em 0em 0.4em 0em;">
                    <input class="login-box-input" type="text" name="email" type="text" placeholder="email" />
                  </div>
                  <div style="padding:0.4em 0em 0.8em 0em;">
                  <input class="login-box-input" name="password" type="password" placeholder="password" />

                  </div>
                  <input class="login-box-submit-button" type="submit" value="Log In" />
                </form>
              </div>
            </div>

            <div class="small-12 medium-7 column small-order-1 medium-order-2 login-box-social-section">
              <div class="login-box-social-section-inner">
                <p style="font-size:2em;color:#fff"><b style="font-size:1.5em;color:#fff">Research Database</b><br>Faculty of Engineering</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</body>
<footer>
  <% include ../partials/footer %>
  <script src="js/app.js"></script>
  <script src="js/login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
</footer>

</html>
