<!DOCTYPE html>
<html lang="en">
<base href="/">
<link rel="stylesheet" href="css/viewmy-project.css">

<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;background:#FAFAFA;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
      </div>
      <div class="cell medium-cell-block-y auto">
        <div class="cell small-6 full  bgforms" align="left">
          <div style="padding: 2rem">
            <div class="grid-x">
              <div class=" small-2"></div>
              <div class="small-8 fieldProJ">
                <h1>ข้อมูลโครงการวิจัย</h1>
                <p style="color:#707070;">รหัสโครงการวิจัย :
                  <%=dataProJ.idproject%>
                </p>
                <input disabled type="hidden" name="idofproject" value="<%=dataProJ.idproject%>" id="ID_idproject" required>
              </div>
              <div class=" small-2"></div>
            </div>
          </div>
        </div>

        <div class="cell small-6" style="padding:2rem;">
          <form onload="document.id_formEditProJ.reset();" id="id_formEditProJ" name="id_formEditProJ" enctype="multipart/form-data" method="post" action="">
            <div class="grid-x">
              <div class="cell small-2"></div>
              <div class="cell small-6">

                <div class="grid-y grid-margin-y">

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ข้อมูลทั่วไป</label>
                      <p style="color:red;">กรุณากรอกข้อมูลให้ครบทุกช่อง ก่อนกดยืนยัน หากไม่มีข้อมูลให้ใส่ - </p>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="NAME_nameProjectTH">ชื่อโครงการ(ไทย)</label>
                            <input disabled type="text" value="<%=dataProJ.projectNameTH %>"name="NAME_nameProjectTH" id="ID_nameProjectTH" placeholder="ชื่อโครงการ(ไทย)" required>
                          </div>

                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="NAME_nameProjectEN">ชื่อโครงการ(อังกฤษ)</label>
                            <input disabled type="text" value="<%=dataProJ.projectNameEN %>"name="NAME_nameProjectEN" id="ID_nameProjectEN" placeholder="ชื่อโครงการ(อังกฤษ)" required>
                          </div>

                        </div>
                      </div>
                      <div class="cell small-6" style="padding:1em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3">
                            <label style="font-size:1.25em;">หัวหน้าโครงการวิจัย</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 ">
                            <input class="hide" type="text" name="searchUserLD" id="searchUserLD" placeholder="กรุณาใส่อีเมลนักวิจัย เพื่อค้นหาและเพิ่ม" />
                          </div>
                          <!-- คอลัม 3 -->
                          <div class="cell small-3">
                            <button type="button" class="hollow button small hide" href="#" id="addRow">เพิ่ม</button>
                            <button type="button" class="hollow button small alert hide" href="#" id="removeRow">ลบ</button>
                          </div>


                        </div>
                      </div>
                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3"></div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <span class="label alert hide" id="notFoundSearchUserLD"><i class="fi-x-circle"></i>ไม่พบ</span>
                            <span class="label alert hide" id="emptrySearchUserLD"><i class="fi-x-circle"></i>กรุณากรอกข้อมูลก่อนค้นหา</span>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3"></div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">
                        <table id="view-memberLDProjTable" class=" hover unstriped " style="width:100%">
                          <thead>
                            <tr>
                              <th>อีเมล</th>
                              <th>ชื่อ</th>
                              <th>นามสกุล</th>
                              <th>สัดส่วนงานวิจัย</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if(dataLD.length){
                              for(var i = 0;i < dataLD.length;i++) {%>
                            <tr>
                              <td><%=dataLD[i].email %></td>
                              <td><%=dataLD[i].academicPositions %><%=dataLD[i].firstname %></td>
                              <td><%=dataLD[i].lastname %></td>
                              <td><%=dataLD[i].proportion %></td>
                            </tr>

                            <% }
                              }else{ %>
                            <tr>
                              <td colspan="4">ไม่มี</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
                    <div class="grid-y">

                      <div class="cell small-6" style="padding:1em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3">
                            <label style="font-size:1.25em;">ผู้ร่วมวิจัย</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <input class="hide"type="text" name="searchUserRS" id="searchUserRS" placeholder="กรุณาใส่อีเมลนักวิจัย เพื่อค้นหาและเพิ่ม" />
                          </div>
                          <!-- คอลัม 3 -->
                          <div class="cell small-3">
                            <button type="button" class="hollow button small hide" href="#" id="addRow2">เพิ่ม</button>
                            <button type="button" class="hollow button small alert hide" href="#" id="removeRow2">ลบ</button>
                          </div>

                        </div>
                      </div>
                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">

                        <div class="grid-x grid-margin-x" style="padding-top:1em">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3"></div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6">
                            <span class="label alert hide" id="notFoundsearchUserRS"><i class="fi-x-circle"></i>ไม่พบ</span>
                            <span class="label alert hide" id="emptrysearchUserRS"><i class="fi-x-circle"></i>กรุณากรอกข้อมูลก่อนค้นหา</span>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3"></div>
                        </div>
                      </div>
                      <div class="cell small-6" style="padding:0em 1em 0em 1em;">
                        <table id="view-memberRSProjTable" class=" hover unstriped " style="width:100%">
                          <thead>
                            <tr>
                              <th>อีเมล</th>
                              <th>ชื่อ</th>
                              <th>นามสกุล</th>
                              <th>สัดส่วนงานวิจัย</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if(dataRS.length){
                              for(var i = 0;i < dataRS.length;i++) {%>
                                <tr>
                                  <td><%=dataRS[i].email %></td>
                                  <td><%=dataRS[i].academicPositions %><%=dataRS[i].firstname %></td>
                                  <td><%=dataRS[i].lastname %></td>
                                  <td><%=dataRS[i].proportion %></td>
                                </tr>
                            <% }
                              }else{ %>
                            <tr>
                              <td colspan="4">ไม่มี</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>


                    </div>
                  </div>


                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">ทุนวิจัย</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="budgetYear">ปีงบประมาณ</label>
                            <select disabled name="NAME_budgetYear" id="budgetYear" placeholder="ปีงบประมาณ">
                              <% for(var i=0; i<dataRshGrants.length; i++) {%>
                                <option value=<%=dataRshGrants[i].idresearchType%> ><%=dataRshGrants[i].grants_Years%></option>
                                 <%if (dataRshGrants[i].idresearchType==dataProJ.idGrant) { %>
                                   <option value=<%=dataRshGrants[i].idresearchType%> selected ><%=dataRshGrants[i].grants_Years%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 floated-label-wrapper">
                            <label for="BudgetName">ชื่องบประมาณ</label>
                            <select disabled name="BudgetName" id="BudgetName" placeholder="ชื่องบประมาณ">
                              <% for(var i=0; i<dataRshGrants.length; i++) {%>
                                <option value=<%=dataRshGrants[i].idresearchType%> ><%=dataRshGrants[i].grants_Name%></option>
                                 <%if (dataRshGrants[i].idresearchType==dataProJ.idGrant) { %>
                                   <option value=<%=dataRshGrants[i].idresearchType%> selected ><%=dataRshGrants[i].grants_Name%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-7 floated-label-wrapper fieldProJ">
                            <label for="BudgetAllocated">งบประมาณที่ได้รับการจัดสรร</label>
                            <input disabled type="text" value="<%=dataProJ.projectAmount%>"name="amountBudget" id="BudgetAllocated" placeholder="งบประมาณที่ได้รับการจัดสรร" required />
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">ลักษณะโครงการ</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" id="projectSetElmID" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 fieldProJ">
                            <input disabled type="radio" name="projectSet" value="1" id="projectSet_1" <% if(dataProJ.projectSet==1){ %> checked="checked" <% } %>/>
                            <label class="" for="projectSet_1">โครงการชุด</label>
                          </div>

                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">

                            <input disabled type="radio" name="projectSet" value="0" id="projectSet_0" <%if(dataProJ.projectSet==0){%><%="checked"%><%}%>/>
                            <label class="" for="projectSet_0">โครงการเดี่ยว</label>
                          </div>

                          <!-- คอลัม 3 -->
                          <div class="cell small-3 floated-label-wrapper fieldProJ">
                            <label for="">ปีที่</label>
                            <input disabled type="number"value="<%=dataProJ.projectYears %>" min="1" max="8" name="projectYears" id="ID_projectYears" placeholder="ปีที่" required />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6 " id="projectMainElmID" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 ">
                            <input disabled type="radio" name="projectMain" value="1" id="projectMain_1"<%if(dataProJ.projectMain==1){%><%="checked"%><%}%>/>
                            <label class=" " for="projectMain_1">โครงการหลัก</label>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3 ">
                            <input disabled type="radio" name="projectMain" value="-" id="projectMain_0"<%if(dataProJ.projectMain==0){%><%="checked"%><%}%>/>
                            <label class=" " for="projectMain_0">โครงการย่อย</label>
                          </div>


                        </div>
                      </div>

                      <div class="cell small-6 " id="id_projectParentElm" style="padding:0em 1em 1em 1em;">
                        <p style="color:#717272">กรุณาเลือกโครงการหลัก ของโครงการย่อยนี้</p>
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 " id="" style="padding:1em 0em 1em 0em">
                            <select disabled name="name_projectParentYear" id="id_projectParentYear">
                              <% for(var i=0; i<dataRshProjParent.length; i++) {%>
                                <option value=<%=dataRshProjParent[i].idresearchType%> ><%=dataRshProjParent[i].grants_Years%></option>
                                 <%if (dataRshProjParent[i].idGrants==dataProJ.idGrant) { %>
                                   <option value=<%=dataRshProjParent[i].idresearchType%> selected ><%=dataRshProjParent[i].grants_Years%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-9 floated-label-wrapper " id="" style="padding:1em 0em 1em 0em">
                            <label for=""></label>
                            <select disabled name="name_projectParentName" id="id_projectParentName">
                              <% for(var i=0; i<dataRshProjParent.length; i++) {%>
                                <option value=<%=dataRshProjParent[i].idresearchType%> ><%=dataRshProjParent[i].projectNameTH%></option>
                                 <%if (dataRshProjParent[i].idGrants==dataProJ.idGrant) { %>
                                   <option value=<%=dataRshProjParent[i].idresearchType%> selected ><%=dataRshProjParent[i].projectNameTH%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>



                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">หน่วยงาน</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="country"style="color:#8a8a8a;">ประเทศ</label>
                            <select disabled name="country" id="ID_PJ_ADD_country" placeholder="ประเทศ">
                              <option disabled selected value>เลือก</option>
                              <% for(var i=0; i<dataCountry.length; i++) {%>
                                <option value=<%=dataCountry[i].countryISOCode%> ><%=dataCountry[i].countryName%></option>
                                 <%if (dataCountry[i].countryISOCode==dataProJ.countryISOCode) { %>
                                   <option value=<%=dataCountry[i].countryISOCode%> selected ><%=dataCountry[i].countryName%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="university"style="color:#8a8a8a;">มหาวิทยาลัย</label>
                            <select disabled name="university" id="ID_PJ_ADD_Uni" placeholder="มหาวิทยาลัย">
                            <% for(var i=0; i<dataUni.length; i++) {%>
                              <option value=<%=dataUni[i].uniID%> ><%=dataUni[i].uniName%></option>
                               <%if (dataUni[i].uniID==dataProJ.uniID) { %>
                                 <option value=<%=dataUni[i].uniID%> selected ><%=dataUni[i].uniName%></option>
                                <% } %>
                            <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="faculty"style="color:#8a8a8a;">คณะ</label>
                            <select disabled name="faculty" id="id_PJ_ADD_fac" placeholder="คณะ">
                              <% for(var i=0; i<dataFac.length; i++) {%>
                                <option value=<%=dataFac[i].facultyID%> ><%=dataFac[i].facultyName%></option>
                                 <%if (dataFac[i].facultyID==dataProJ.facultyID) { %>
                                   <option value=<%=dataFac[i].facultyID%> selected ><%=dataFac[i].facultyName%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="department"style="color:#8a8a8a;">หน่วยงานหลัก</label>
                            <select disabled name="department" id="id_PJ_ADD_dpment" placeholder="หน่วยงานหลัก">
                              <% for(var i=0; i<dataDPMent.length; i++) {%>
                                <option value=<%=dataDPMent[i].departmentID%> ><%=dataDPMent[i].departmentName%></option>
                                 <%if (dataDPMent[i].departmentID==dataProJ.departmentID) { %>
                                   <option value=<%=dataDPMent[i].departmentID%> selected ><%=dataDPMent[i].departmentName%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="department"style="color:#8a8a8a;">หน่วยงานย่อย</label>
                            <select disabled name="subdepartment" id="id_PJ_ADD_subdpment" placeholder="หน่วยงานย่อย">
                            <% for(var i=0; i<dataSubDPMent.length; i++) {%>
                              <option value=<%=dataSubDPMent[i].Sub_Dpment_ID%> ><%=dataSubDPMent[i].Sub_Dpment_name%></option>
                               <%if (dataSubDPMent[i].Sub_Dpment_ID==dataProJ.subDepartmentID) { %>
                                 <option value=<%=dataSubDPMent[i].Sub_Dpment_ID%> selected ><%=dataSubDPMent[i].Sub_Dpment_name%></option>
                                <% } %>
                            <% } %>
                          </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <h5 class="separator-left" style="font-size:1.5em; ">รายละเอียดโครงการ</h5>
                    </div>

                    <div class="grid-y">

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="id_PJ_ADD_ResearcType"style="color:#8a8a8a;">ประเภทงานวิจัย</label>
                            <select disabled name="name_PJ_ADD_ResearcType" id="id_PJ_ADD_ResearcType">
                              <% for(var i=0; i<dataRshtype.length; i++) {%>
                                <option value=<%=dataRshtype[i].idresearchType%> ><%=dataRshtype[i].Name_researchType%></option>
                                 <%if (dataRshtype[i].idresearchType==dataProJ.researchTypeID) { %>
                                   <option value=<%=dataRshtype[i].idresearchType%> selected ><%=dataRshtype[i].Name_researchType%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for=""style="color:#8a8a8a;">สาขาการวิจัย</label>
                            <select disabled name="name_PJ_ADD_Researchbranch" id="id_PJ_ADD_Researchbranch">
                              <option value="" disabled>กรุณาเลือก</option>
                              <% for(var i=0; i<dataRshbranch.length; i++) {%>
                                <option value=<%=dataRshbranch[i].researchbranchID%> ><%=dataRshbranch[i].researchbranchName%></option>
                                 <%if (dataRshbranch[i].researchbranchID==dataProJ.researchBranchID) { %>
                                   <option value=<%=dataRshbranch[i].researchbranchID%> selected ><%=dataRshbranch[i].researchbranchName%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="id_PJ_ADD_Researchform"style="color:#8a8a8a;">รูปแบบการวิจัย</label>
                            <select disabled name="name_PJ_ADD_Researchform" id="id_PJ_ADD_Researchform">
                              <% for(var i=0; i<dataRshForm.length; i++) {%>
                                <option value=<%=dataRshForm[i].ResearchFormID%> ><%=dataRshForm[i].ResearchFormName%></option>
                                 <%if (dataRshForm[i].ResearchFormID==dataProJ.researchFormID) { %>
                                   <option value=<%=dataRshForm[i].ResearchFormID%> selected ><%=dataRshForm[i].ResearchFormName%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-12 ">
                            <label for="id_PJ_ADD_Researchstrategic"style="color:#8a8a8a;">ชื่อยุทศาสตร์</label>
                            <select disabled name="name_PJ_ADD_Researchstrategic" id="id_PJ_ADD_Researchstrategic">
                              <% for(var i=0; i<dataRshStrategic.length; i++) {%>
                                <option value=<%=dataRshStrategic[i].researchStrategicID%> ><%=dataRshStrategic[i].rsearchStrategicName%></option>
                                 <%if (dataRshStrategic[i].researchStrategicID==dataProJ.researchStrategicID) { %>
                                   <option value=<%=dataRshStrategic[i].researchStrategicID%> selected ><%=dataRshStrategic[i].rsearchStrategicName%></option>
                                  <% } %>
                              <% } %>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
                    <div class="grid-x grid-margin-x">
                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <h5 class="separator-left" style="font-size:1.5em; ">วันที่แจ้งเตือนการส่งเอกสาร</h5>
                        <p style="color:red">*กรุณากรอกข้อมูลให้ครบทุกช่อง ถ้าไม่มี กรุณาใส่ -</p>
                      </div>
                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <label for="">สถานะการดำเนินงาน</label>
                        <select disabled name="stateOfProJ" id="">
                          <% if (dataProJ.stateOfProJ == "1") { %><option value="1">1</option><% } %>
                          <% if (dataProJ.stateOfProJ == "2") { %><option value="2">2</option><% } %>
                          <% if (dataProJ.stateOfProJ == "3") { %><option value="3">3</option><% } %>
                          <% if (dataProJ.stateOfProJ == "4") { %><option value="4">4</option><% } %>
                          <% if (dataProJ.stateOfProJ == "5") { %><option value="5">5</option><% } %>
                          <% if (dataProJ.stateOfProJ == "6") { %><option value="6">6</option><% } %>
                          <% if (dataProJ.stateOfProJ == "7") { %><option value="7">7</option><% } %>
                          <% if (dataProJ.stateOfProJ == "8") { %><option value="8">8</option><% } %>
                          <% if (dataProJ.stateOfProJ == "9") { %><option value="9">9</option><% } %>
                          <% if (dataProJ.stateOfProJ == "10") { %><option value="10">10</option><% } %>
                          <% if (dataProJ.stateOfProJ == "11") { %><option value="11">11</option><% } %>
                          <% if (dataProJ.stateOfProJ == "12") { %><option value="12">12</option><% } %>
                        </select>
                      </div>
                    </div>
                    <div class="grid-y">
                      <div class="cell small-12" style="padding:0em 1em 0em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">1.</span> ทำบันทึกขออนุมัติดำเนินโครงการฯ (ฟอร์ม 2)พร้อมแนบแผนการใช้จ่ายเงิน (วจ.1) (ฟอร์ม 1)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text" value="<%=dataProJ.dateState1 %>" name="dateState1" data-toggle="datepicker" placeholder="วันที่"autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">2.</span> ทำบันทึกเบิกงวด 1 (ฟอร์ม 3 )</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text" value="<%=dataProJ.dateState2 %>"name="dateState2" data-toggle="datepicker" placeholder="วันที่"autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">3.</span> การจัดซื้อวัสดุ (ฟอร์ม 4)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text" value="<%=dataProJ.dateState3 %>"name="dateState3" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">4.</span> การจัดจ้าง (ฟอร์ม 5)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text" value="<%=dataProJ.dateState4 %>"name="dateState4" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">5.</span> ใบสำคัญรับเงิน (ฟอร์ม 6)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text"value="<%=dataProJ.dateState5 %>" name="dateState5" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">6.</span> ขอขยายเวลาดำเนินโครงการวิจัยฯ (ฟอร์ม 7)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text"value="<%=dataProJ.dateState6 %>" name="dateState6" data-toggle="datepicker"placeholder="วันที่"autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">7.</span> ทำบันทึกส่งหลักฐานการใช้เงิน (ฟอร์ม 8)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text"value="<%=dataProJ.dateState7 %>" name="dateState7" data-toggle="datepicker"placeholder="วันที่"autocomplete="off" />
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">8.</span> ทำบันทึกเบิกเงินงวดที่ 2 (ฟอร์ม 9 )พร้อมแนบรายงานความก้าวหน้า(ฟอร์ม 10 )</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text"value="<%=dataProJ.dateState8 %>" name="dateState8" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">9.</span> ทำบันทึกเบิกงวด 3 (ฟอร์ม 11)พร้อมส่งเล่มรายงานวิจัยฉบับสมบูรณ์ 6 เล่ม ซีดี 2 แผ่น</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input  disabled required type="text"value="<%=dataProJ.dateState9 %>" name="dateState9" data-toggle="datepicker" placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">10.</span> ทำบันทึกส่งเล่มรายงานวิจัย (ฟอร์ม 12)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text" value="<%=dataProJ.dateState10 %>"name="dateState10" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;border-bottom:1px solid #cacaca;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">11.</span> ทำบันทึกส่งมอบครุภัณฑ์ (ถ้ามี) (ฟอร์ม 13)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text"value="<%=dataProJ.dateState11 %>" name="dateState11" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-12" style="padding:0.5em 1em 0.5em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-8">
                            <p><span class="label warning">12.</span> ทำบันทึกปิดโครงการวิจัย (ฟอร์ม 14)พร้อมแนบ วจ.2 (ฟอร์ม 15)</p>
                          </div>
                          <div class="cell small-4 fieldProJ">
                            <input disabled required type="text"value="<%=dataProJ.dateState12 %>" name="dateState12" data-toggle="datepicker"placeholder="วันที่" autocomplete="off"/>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="22">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <a type="button" href="/my-project" class="button hollow  alert expanded" style="border-radius:5px;padding:1em;">ยกเลิก</a>
                  </div>

                  <div class=" small-6"></div>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>

  <script src="js/datatable/viewmy-memberLDprojtable.js"></script>
  <script src="js/datatable/viewmy-memberRSprojtable.js"></script>
  <script src="js/module/viewmy-project.js"></script>


</footer>

</html>
