<div class="cell small-12" style="padding:2.5rem;display:none;" id="addDataElmNewFaculty">
  <h3 class="">เพิ่มคณะใหม่ใหม่</h3>
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li id="countryNameIDFacultyPage" style="font-size: 130%"></li>
      <li id="txtUniOutputFacultyPage" style="font-size: 130%;"></li>
      <li id="txtFacultyOutputFacultyPage" style="font-size: 130%;"></li>
    </ul>
  </nav>

  <form id="IDFormForNewFaculty" class="" ref='uploadForm' encType="multipart/form-data" action="/Department/newFaculty/" method="post">
    <div class="grid-y shink" style="margin-left:25rem;">
      <div class="grid-x grid-padding-x">
        <div class="small-2 cell ">
        </div>
      </div>
    </div>

    <div class="grid-y shink" style="margin-left:25rem;">
      <div class="grid-x grid-padding-x">
        <div class="small-2 cell ">
          <label for="middle-label" class="text-left middle"><b>ชื่อคณะ</b></label>
        </div>
        <div class="small-5 cell field2">
          <input type="hidden" name="NameOfuniIDForFaculty" id="uniIDForFaculty">
          <input type="text" id="txtFacultyInput" name="txtFacultyName" placeholder="ชื่อคณะใหม่">
        </div>
        <div class="small-5 cell ">
          <label for="middle-label" class="text-left middle hide" id="alertDuplicateName2" style="color:red;">มีชื่อคณะนี้แล้ว</label>
          <label for="middle-label" class="text-left middle hide" id="alertEmptryName2"style="color:red;">กรุณาใส่ชื่อคณะ</label>
        </div>
      </div>
    </div>

    <input type="submit" value="เพิ่ม" class=" button sendButton" id="comfirmAddFacultyID" disabled="disabled" >
    <input type="reset" value="ยกเลิก" class="button alert" id="cancelAddFacultyID">
  </form>
  
</div>
