<!-- ROW กลุ่มข้อมูล -->
<div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
  <div class="grid-y">

    <div class="cell small-6" style="padding:1em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3">
          <label style="font-size:1.25em;">ผู้ร่วมวิจัย</label>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-6">
          <input type="text" name="searchUserRS" id="searchUserRS" placeholder="กรุณาใส่อีเมลนักวิจัย เพื่อค้นหาและเพิ่ม" />
        </div>
        <!-- คอลัม 3 -->
        <div class="cell small-3">
          <button type="button" class="hollow button small" href="#" id="addRow2">เพิ่ม</button>
          <button type="button" class="hollow button small alert" href="#" id="removeRow2">ลบ</button>
        </div>

      </div>
    </div>
    <div class="cell small-6" style="padding:0em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3"></div>
        <!-- คอลัม 2 -->
        <div class="cell small-6">
          <span class="label alert hide" id="notFoundsearchUserRS"><i class="fi-x-circle"></i>ไม่พบ</span>
          <span class="label alert hide" id="emptrysearchUserRS"><i class="fi-x-circle"></i>กรุณากรอกข้อมูลก่อนค้นหา</span>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-3"></div>
      </div>
    </div>
    <div class="cell small-6" style="padding:0em 1em 0em 1em;">
      <table id="memberRSProjTable" class=" hover unstriped " style="width:100%">
        <thead>
          <tr>
            <th>อีเมล</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>สัดส่วนงานวิจัย</th>
          </tr>
        </thead>
      </table>
    </div>


  </div>
</div>
