<!-- ROW กลุ่มข้อมูล -->
<div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

  <div class="cell small-6" style="padding:1em 1em 1em 1em;">
    <label style="font-size:1.5em;">ข้อมูลทั่วไป</label>
    <p style="color:red;">กรุณากรอกข้อมูลให้ครบทุกช่อง ก่อนกดยืนยัน หากไม่มีข้อมูลให้ใส่ - </p>
  </div>

  <div class="grid-y">

    <div class="cell small-6" style="padding:0em 1em 1em 1em;">
      <div class="grid-x grid-margin-x">
        <!-- คอลัม 1 -->
        <div class="cell small-12 floated-label-wrapper">
          <label for="NAME_nameProjectTH">ชื่อโครงการ(ไทย)</label>
          <input type="text" name="NAME_nameProjectTH" id="ID_nameProjectTH" placeholder="ชื่อโครงการ(ไทย)" required>
        </div>

      </div>
    </div>

    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
      <div class="grid-x grid-margin-x">
        <!-- คอลัม 1 -->
        <div class="cell small-12 floated-label-wrapper">
          <label for="NAME_nameProjectEN">ชื่อโครงการ(อังกฤษ)</label>
          <input type="text" name="NAME_nameProjectEN" id="ID_nameProjectEN" placeholder="ชื่อโครงการ(อังกฤษ)" required>
        </div>

      </div>
    </div>
    <div class="cell small-6" style="padding:1em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3">
          <label style="font-size:1.25em;">หัวหน้าโครงการวิจัย</label>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-6">
          <input type="text" name="searchUserLD" id="searchUserLD" placeholder="กรุณาใส่อีเมลนักวิจัย เพื่อค้นหาและเพิ่ม" />
        </div>
        <!-- คอลัม 3 -->
        <div class="cell small-3">
          <button type="button" class="hollow button small" href="#" id="addRow">เพิ่ม</button>
          <button type="button" class="hollow button small alert" href="#" id="removeRow">ลบ</button>
        </div>


      </div>
    </div>
    <div class="cell small-6" style="padding:0em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3"></div>
        <!-- คอลัม 2 -->
        <div class="cell small-6">
          <span class="label alert hide" id="notFoundSearchUserLD"><i class="fi-x-circle"></i>ไม่พบ</span>
          <span class="label alert hide" id="emptrySearchUserLD"><i class="fi-x-circle"></i>กรุณากรอกข้อมูลก่อนค้นหา</span>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-3"></div>
      </div>
    </div>

    <div class="cell small-6" style="padding:0em 1em 0em 1em;">
      <table id="memberLDProjTable" class=" hover unstriped " style="width:100%">
        <thead>
          <tr>
            <th>อีเมล</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>สัดส่วนงานวิจัย</th>
          </tr>
        </thead>
      </table>
    </div>

  </div>
</div>
