<div style="padding:2.5rem;display:none;" id="pageGrantsDetail">
  <form method="post" action="/grants">
    <div class="cell small-6" style="padding:4rem;">

      <div class="grid-y ">

        <div class="grid-x ">

          <div class="cell small-12" style="padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-6">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label for="" class="text-left middle" style="margin:0px!important">ปีงบประมาณ</label>
                  </div>
                  <div class="cell small-2">
                    <label id="gYearID" class="text-left middle" style="margin:0px!important;color:#1779ba;"></label>
                  </div>
                </div>
              </div>
              <div class="cell small-6">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label for="" class="text-left middle" style="margin:0px!important">ประเภททุนวิจัย</label>
                  </div>
                  <div class="cell small-4">
                    <label id="gTypeID" class="text-left middle" style="margin:0px!important;color:#1779ba;"></label>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="grid-x ">

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-12">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label class="text-left middle" style="margin:0px!important">ชื่อทุนวิจัย</label>
                  </div>
                  <div class="cell small-9">
                    <label id="gNameID" class="text-left middle" style="margin:0px!important;color:#1779ba;"></label>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">


            </div>
          </div>

        </div>

        <div class="grid-x ">

          <div class="cell small-6" style="bpadding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-12">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label class="text-left middle" style="margin:0px!important">แหล่งทุนวิจัย</label>
                  </div>
                  <div class="cell small-9">
                    <label id="gSupporterID" class="text-left middle" style="margin:0px!important;color:#1779ba;"></label>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">

            </div>
          </div>

        </div>

        <div class="grid-x " style="padding:1em;">
        </div>

        <div class="grid-x " style="padding:2em;">



        </div>
        <div class="grid-x ">

          <div class="cell small-12" style="padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-1" style="vertical-align: middle;text-align: center;">
                <a class="button primary" href="#" onclick="myFunctiongrants4()">ตกลง</a>
              </div>

            </div>
          </div>

        </div>



      </div>

    </div>
  </form>

</div>
