<!-- ROW กลุ่มข้อมูล -->
<div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

  <div class="cell small-6" style="padding:1em 1em 1em 1em;">
    <h5 class="separator-left" style="font-size:1.5em;">ข้อมูลทั่วไป</h5>
    <p style="color:red;">กรุณากรอกข้อมูลให้ครบทุกช่อง ก่อนกดยืนยัน หากไม่มีข้อมูลให้ใส่ - </p>
  </div>

  <div class="grid-y">

    <div class="cell small-6" style="padding:0em 1em 1em 1em;">
      <div class="grid-x grid-margin-x">
        <!-- คอลัม 1 -->
        <div class="cell small-12 floated-label-wrapper">
          <label for="NAME_nameProjectTH">ชื่อโครงการ(ไทย)</label>
          <input disabled type="text" value="<%=dataProJ.projectNameTH %>"name="NAME_nameProjectTH" id="ID_nameProjectTH" placeholder="ชื่อโครงการ(ไทย)" required>
        </div>

      </div>
    </div>

    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
      <div class="grid-x grid-margin-x">
        <!-- คอลัม 1 -->
        <div class="cell small-12 floated-label-wrapper">
          <label for="NAME_nameProjectEN">ชื่อโครงการ(อังกฤษ)</label>
          <input disabled type="text" value="<%=dataProJ.projectNameEN %>"name="NAME_nameProjectEN" id="ID_nameProjectEN" placeholder="ชื่อโครงการ(อังกฤษ)" required>
        </div>

      </div>
    </div>
    <div class="cell small-6" style="padding:1em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3">
          <label style="font-size:1.25em;">หัวหน้าโครงการวิจัย</label>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-6 "></div>
        <!-- คอลัม 3 -->
        <div class="cell small-3"></div>

      </div>
    </div>


    <div class="cell small-6" style="padding:0em 1em 0em 1em;">
      <table id="view-memberLDProjTable" class=" hover unstriped " style="width:100%">
        <thead>
          <tr>
            <th>อีเมล</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>สัดส่วนงานวิจัย</th>
          </tr>
        </thead>
        <tbody>
          <% if(dataLD.length){
            for(var i = 0;i < dataLD.length;i++) {%>
          <tr class="oldLD">
            <td><%=dataLD[i].email %></td>
            <td><%=dataLD[i].academicPositions %><%=dataLD[i].firstname %></td>
            <td><%=dataLD[i].lastname %></td>
            <td ><%=dataLD[i].proportion %></td>
          </tr>

          <% }
            }else{ %>
          <tr>
            <td colspan="4">ไม่มี</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>
