<!-- ROW กลุ่มข้อมูล -->
<div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
  <div class="grid-y">

    <div class="cell small-6" style="padding:1em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3">
          <label style="font-size:1.25em;">ผู้ร่วมวิจัย</label>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-6"></div>
        <!-- คอลัม 3 -->
        <div class="cell small-3"></div>

      </div>
    </div>

    <div class="cell small-6" style="padding:0em 1em 0em 1em;">
      <table id="view-memberRSProjTable" class=" hover unstriped " style="width:100%">
        <thead>
          <tr>
            <th>อีเมล</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>สัดส่วนงานวิจัย</th>
          </tr>
        </thead>
        <tbody>
          <% if(dataRS.length){
            for(var i = 0;i < dataRS.length;i++) {%>
              <tr>
                <td><%=dataRS[i].email %></td>
                <td><%=dataRS[i].academicPositions %><%=dataRS[i].firstname %></td>
                <td><%=dataRS[i].lastname %></td>
                <td><%=dataRS[i].proportion %></td>
              </tr>
          <% }
            }else{ %>
          <tr>
            <td colspan="4">ไม่มี</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>


  </div>
</div>
